/* FOTOLIBROS */
.breadcrumb {
    color:#232C3A;
}
.breadcrumb span {
    color:#1259c3 !important;
}

.fotolibros {
    min-height: 50vh;
    color: #fff;
    padding-bottom: 5em;
    padding-top: 2.1em;
    background-position: top;
    background-repeat: repeat-y;
    background-color: #f5f5f5;
    background-image: url(../img/1440x300-fondoazul.jpg);
}

.fotolibros h3 {
    color: #000;
    font-size: 1.2em;
}

.description {
    background-color: #FFF;
}

.fadeInUp {
    opacity: 1;
}

.fadeInUp:hover div {
    opacity: .6;
}

div.border {
    margin-left: 5em;
    height: 10em;
    margin-bottom: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.border-sm {
	margin-left: 2em !important;
}

div.border h3 {
    color: #FFF;
    position: absolute;
    left: 32%;
    top: 68%;
    width: 65%;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.5);
}

div.border-sm h3 {
	left: 20% !important;
	width: 79% !important;
	top: 70% !important; 
}

div.border.tapablanda {
    background-image: url(../img/tapablanda.jpg);
}

div.border.tapadura {
    background-image: url(../img/tapadura.jpg);
}

div.border.offset {
    background-image: url(../img/offset.jpg);
}

div.border.anillado {
    background-image: url(../img/anillado.jpg);
}

div.border.diptico {
    background-image: url(../img/diptico.jpg);
}

div.border.portapendvd {
    background-image: url(../img/portapendvd.jpg);
}

div.border.retoque {
    background-image: url(../img/diseno/retoque001.jpg);
}

div.border.scan {
    background-image: url(../img/diseno/scan001.jpg);
}

div.border.makeup {
    background-image: url(../img/diseno/makeup001.jpg);
}

div.border.vidrieras {
    background-image: url(../img/diseno/vidrieras001.jpg);
}

div.border.imarca {
    background-image: url(../img/diseno/imarca001.jpg);
}

div.border.merch {
    background-image: url(../img/diseno/merch001.jpg);
}


/* PRODUCTO */
@media screen and (min-width: 768px) {

    section.producto {
        padding-top: 5em;
        background-position: top;
        background-repeat: repeat-y;
        background-image: url(../img/1440x300-fondoazul.jpg);
        background-color: #f5f5f5;
    }

    div.tapablandabig {
        height: 35em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/tapablanda1.jpg);    
    }
}


div.tapablandabig {
    min-height: 24em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/tapablanda1.jpg);    
}

div.tapablandasmall {
    margin-left: .1em;
    margin-right: .1em;
    height: 8em;
    border: 1px solid #ccc;
    width: 24.57%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

div.tapablandasmall:hover {
    cursor: pointer;
}

div.tapablandasmall.img1 {
    background-image: url(../img/tapablanda1.jpg);   
}

div.tapablandasmall.img2 {
    background-image: url(../img/tapablanda2.jpg);   
}

div.tapablandasmall.img3 {
    background-image: url(../img/tapablanda3.jpg);   
}

div.tapablandasmall.img4 {
    background-image: url(../img/tapablanda4.jpg);   
}
